@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.body{
    min-height:100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
    border-radius:  100% 0% 100% 0% / 83% 100% 0% 17%;
}
.main-container
{
    background-color: #fff;
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 5px;
    height: 500px;
    padding: 30px;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.form-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    margin-left: 4%;
}
.input-div{
display: flex;
flex-direction: column;
width: 45%;
min-width: 160px;
border-bottom: 1px solid black;
margin-right: 5%;
}
.form-controller
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    min-width: 150px;
  
}
.error
{
    border-bottom: 1.5px solid red;
}
.input-div:hover
{
  
    border-bottom: 1.4px solid #4070f4;
    
}
.form-controller input
{
padding: 10px;
width: 100%;
outline: none;
align-items: baseline;
border-style: none;
}
.form-controller img{
    width: 1.2em;
    height: 1.2em;
}
.button-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.btn
{
    width: 75px;
    height: 40px;
    padding: 10px;
    border-style: none;
    color: white;
    margin-right: 10px;
    font-size: medium;
    font-weight: 500;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.hover:hover{
    cursor: pointer;
    font-size: 15px;
}
.next-btn
{
    background-color: #4070f4;
}
.back-btn
{
    background-color: red;
}
@media screen and (max-width: 425px) {
    .form-container {
      flex-direction: column;
    }
    .main-container{
        height: 600px;
    }
  }
.full-width-input
{
width: 100%;
}
.navButton{
    width: 120px;
    height: 35px;
    background-color: #4070f4;;
    color: white;
    text-decoration: none;
    border: 0;
    border-radius: 2px;
    margin-right: 7px;
}